#imgAlmacen{
	height:100px;
}
body {
	background-color: rgb(236, 236, 236);
}
#bienvenido{
	width: 260px;
	margin: auto;	
	margin-bottom: 35px;
}
#bienvenido label{
	font-size:24px;
	cursor:default;
	color: rgb(138, 138, 138);
}
a, a:hover{
	list-style:none;
	text-decoration:none;
}
.content_main {
	height: 153px;
	background-color: #29ABE3;
	width: 160px;
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	border-radius: 183px;
	display:inline-block;
}

#text_footer {
	text-align: center;
	text-shadow: rgb(216, 216, 216) 2px 2px 4px;
	color: rgb(148, 148, 148);
	margin-top: 15px;
}

.img_main {
	width: 111px;
	margin:20px;
}

.header_logo {
	width: 76px;	
	margin-left: 10px;
}
.header_cpanel {
	margin: 0 auto;
	width: 901px;
	background-color: #29ABE3;
	height: 61px;
}

#global_content {
	margin: auto auto;
	width: 900px;
	background-color: #fff;
	box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.19);
	-webkit-box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.19);
	-moz-box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.19);
}

#content_profile {
	display: inline-block;
	float: right;
	color: #fff;
	height: 61px;
	transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	padding-right: 40px;
	padding-left: 20px;
}
#content_profile p{
	text-align:center;
	cursor:pointer;
}
#content_profile:hover {
	background-color: rgb(89, 215, 226);
}

#content_profile:hover #window_profile {
	display: block;
}
.text_mark {
	margin-top: 20px;
	font-size: 18px;
}

#img_mark_down {
	width: 20px;
	margin-top: -29px;
	float: right;
	margin-right: -25px;
}

#window_profile {
	background-color: rgb(247, 247, 247);
	display: inline-block;
	width: 330px;
	height: 130px;
	margin-left: -225px;
	margin-top: 10px;
	display: none;
	box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.19);
	-webkit-box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.19);
	-moz-box-shadow: 4px 3px 5px rgba(50, 50, 50, 0.19);
	border-color: #29ABE3;
	border-width: 1px;
	border-style: solid;
	position: absolute;
}


#window_profile_mark {
	float: left;
	margin-right: 72px;
	margin-top: 15px;
	position: absolute;
	margin-left: 15px;
	width: 160px;
}

#list_options_profile {
	float: right;
	margin-right: 40px;
	margin-top: 10px;
	text-decoration: none;
	color: #29ABE3;
}
#list_options_profile ul{
	list-style:none;
}
#list_options_profile ul li label{
	font-size:16px;	
	line-height:30px;
}
#global_content{
	min-height:600px;
}
#content_menu{
	margin-left: 40px;
	width: 660px;
	margin: auto;
	margin-top: 100px;
}

.content_main:hover{
	background-color: rgb(89, 215, 226);
}